@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer ViewLocalizer

<div class="text-center">
    <h1 class="display-4">@ViewLocalizer["Welcome to the homepage"]</h1>
    <br>
    <environment include="Production">
        <p>@ViewLocalizer["We are in production"]</p>
    </environment>
    <environment exclude="Production">
        <p>@ViewLocalizer["We are in development"]</p>
    </environment>
</div>
